#test webserver files
mongoose*

#python script generated log
tools/python_script.log

#vscode launch configs
.vscode

#python-related
__pycache__

#test files
test_functions.js

#to be included later
samples/multi-res
samples/audio

#to be deleted from the repo - used for quality testing
#index-stripped.html
#assets/style_min.css
