html, body {
	height: 100%;
	width: 100%;
	margin: 0;
/*	background-color: rgb(220, 250, 220)*/
}


#map {
	height: 35%;
	width: 640px;
	z-index: 53;
	margin-left:auto;
	margin-right:auto;
}

#user-svg{
	position:absolute;
	z-index: 55;
	margin: 0;
	padding: 0;
	top: 50%;
	left:50%;
	transform: translateY(-32px) translateX(-16px);
}

#container{
	width: 640px;
	top: auto;
	/* text-align: center; */
	margin-left:auto;
	margin-right:auto;
}

#about{
	width: 640px;
	top: auto;
	/* text-align: center; */
	margin-left:auto;
	margin-right:auto;
}

#menu{
	padding: 0.5em;
	line-height: 25px;
}